<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stackover flow clone -- Answers Management </title>
  <% include parts/navbar.ejs %>
</head>
<body>
  <% include parts/navbar.ejs %>
  <div class="container">
    <h2>Answers Management</h2>
    <button id='logout' class="btn btn-success" style="margin-left: 40%">Log Out</button><br>
   <!---Post a new answer--->
      <hr>

       <form id="addAnswer">
           <div class="form-group">
              <label for="question_id"><mark>Question's ID: </mark></label>
              <input type="text" class="form-control" id="question_id" placeholder="Type the Question's ID" name="question_id" required>
          </div>

          <div class="form-group">
            <label for="answer_body"><mark>Answer's Body: </mark></label>
            <input type="text" class="form-control" id="answer_body" placeholder="Type the body of a new answer" name="answer_body" required>
          </div>
          <% if (allMedia.length > 0) { %>
              <div class="form-group">
                <select multiple title="Select Media" class="selectpicker" id='answer_media'>
                       <% for (var i = 0; i < allMedia.length; i++) { %>
                          <option value="<%= allMedia[i] %>">  <%= allMedia[i] %> </option>
                           <% } %>  
                  </select>
                <!------
                <label for="answer_media"><mark>Answer's media: </mark></label>
                <input type="text" class="form-control" id="answer_media" placeholder="Type the media id for the new posted answer(,)" name="answer_media">
                ---->
              </div>
          <% } %>  
          <button type="submit" class="btn btn-primary" id='post' style="margin-left: 40%">Post A New answer</button>
        </form>
        <br>
   <hr>

    <div>
      <form id="getAnswers">
            <div class="form-group">
              <label for="question_id_all"><mark>Question's ID: </mark></label>
              <input type="text" class="form-control" id="question_id_all" placeholder="Type the Question's ID for retrieving all answers" name="question_id_all" required>
          </div>
          <button type="submit" class="btn btn-primary">Get All Answers</button> 
      </form>
    </div>
  <br><br>
      <div>
      <form id="acceptAnswers">
            <div class="form-group">
              <label for="accepted_id"><mark>Answer's ID: </mark></label>
              <input type="text" class="form-control" id="accepted_id" placeholder="Type the Answer's ID to be accepted" name="accepted_id" required>
          </div>
          <button type="submit" class="btn btn-primary" id='accept'>Accept the answer</button><br>
      </form>
    </div>
  <br><br>

    <div>
      <form id="upvoteAnswer">
          <div class="form-group">
            <label for="answer_id_upvote">Answer's ID: </label>
            <input type="text" class="form-control" id="answer_id_upvote" placeholder="type id for upvoting the answer" name="answer_id_upvote" required>
            <div style='margin-left: 30%'>
              <input type="checkbox" name="upvote_check" class='upvote_check' value='upvote' checked> Upvote 
               <input type="checkbox" style='margin-left: 5% !important'name="upvote_check" class='upvote_check' value='downvote'> Downvote 
             </div>
          </div>
          <button type="submit" class="btn btn-primary" id="upvote">Upvote Answer</button>
        </form>
    </div>
   <br><br>
  </div>


<script type="text/javascript">
  // Post a New answer
  var check_name = "<%= name %>";
  if(check_name.length > 0){
      $('#logout').text('Log Out');
      $('#post').attr("disabled", false);
      $('#accept').attr("disabled", false);  
      $('#upvote').attr("disabled", false);    
  }else{
      $('#logout').text('Log In');
      $('#post').attr("disabled", true); 
       $('#accept').attr("disabled", true); 
       $('#upvote').attr("disabled", true);    

  }

  $('#logout').click(function(event){
      event.preventDefault();
      if(check_name.length <= 0){ // go to login page
        window.location.href = 'http://64.190.205.52/login';
          //window.location.href = 'http://localhost:3000/login'
      }else{
          $.ajax({
            type: 'POST',
            url: '/logout',
            success: function (res) {
              if(res.status == 'OK'){
                    window.location.href = 'http://64.190.205.52/login';
                    //window.location.href = 'http://localhost:3000/login'
              }else if(res.status == 'error'){
                 console.log("Failed to logout: %s", res.error);
              }
            },
            error: function (res) {
              console.log('Ajax call failed in /logout: %s', JSON.stringify(res));
            }
          });
        }
  });

  // /questions/{id}/answers/add
   $("#addAnswer").submit(function(event){
      event.preventDefault();
        var question_id = $('#question_id').val()
        // var media= $('#answer_media').val()
        // if(media.length > 0)
        //     media = media.split(','); // get media array
        // else
        //   media = []

        var media = [];
        $("#answer_media > option").each(function(){
            media.push(this.val());
          });
        console.log("answer's media: " + media);

      $.ajax({
        type: 'POST',
        url: '/questions/'+question_id+'/answers/add',
        dataType: 'json',
        data: JSON.stringify({
           body: $("#answer_body").val(),
           media: media  // Optional
        }),
        contentType: 'application/json',
        success: function (res) {
          console.log("/questions/{id}/answers/add-->post: response: %s\n ", JSON.stringify(res));
          if(res.status == 'OK'){
            console.log("Succeed to post a new answer to the question with specified ID " + question_id);//displays msg in 3 seconds
          }else if(res.status == 'error'){
              console.log("Failed to post a new answer: %s\n", res.error);
          }
        },
        error: function (res) {
          console.log('Ajax post call failed in /question/{id}/answer/add: %s\n ',JSON.stringify(res));
        }
      });
   });

// Get a New answer
 $("#getAnswers").submit(function(event){
  var question_id = $('#question_id_all').val()
        event.preventDefault();
      // Ajax Post Call
      $.ajax({
        type: 'GET',
        url: '/questions/'+question_id+'/answers',
        processData: false,
         success: function (res) {
          console.log("/questions/{id}/answers-->get: response: %s\n ", JSON.stringify(res));
          if(res.status == 'OK'){
             console.log("Succeed to add a new answer to the question with specified ID :" + question_id)
          }else if(res.status == 'error'){
             console.log("Failed to get the answers: %s\n", res.error)
          }
        },
        error: function (res) {
          console.log('Ajax call faild in /questions/{id}/answers : %s\n', JSON.stringify(res));
        }
      });
   });


 // Accept A answer
 $("#acceptAnswers").submit(function(event){
  var accepted_id = $('#accepted_id').val()
        event.preventDefault();

      // Ajax Post Call
      $.ajax({
        type: 'POST',
        url: '/answers/'+ id+'/accept',
        success: function (res) {
          console.log("/answers/{id}/accept-->get: response: %s\n ", res);
          if(res.status == 'OK'){
             console.log( "Succeed to accept one answer:  "+question_id);
          }else if(res.status == 'error'){
             console.log("Failed to accept the answers: %s\n", res.error)
          }
        },
        error: function (res) {
          console.log('Ajax call post faild in /answers/{id}/accept : %s\n', JSON.stringify(res));
        }
      });
    });

         // upvote a question
 $("#upvoteAnswer").submit(function(event){
        event.preventDefault();
      // Ajax Post Call
      var id = $('#answer_id_upvote').val()
      var upvote_check =  $('upvote_check').val()
      var upvote = true
      if(upvote_check == 'downvote'){
          upvote = false
      }
      console.log('upvote value : '+ upvote)
      $.ajax({
        type: 'POST',
        url: '/answers/'+id+'/upvote',
        dataType: 'json',
        data: JSON.stringify({
           upvote: upvote
        }),
        contentType: 'application/json',
        success: function (res) {
           console.log("/answers/{id}/upvote-->post: response: %s\n ", JSON.stringify(res));
        },
        error: function (res) {
          console.log('Ajax post call failed in answers/{id}/upvote : %s\n', JSON.stringify(res));
        }
      });
   });

</script>
​
</body>
</html>

