<!DOCTYPE html>
<html lang="en">
<head>
  <title>HW5 </title>
  <% include parts/head.ejs %>
</head>
<body>
  <% include parts/navbar.ejs %>
<div class="container">
  <h2>HW5</h2><br>
  <div>
  <form id='deposit' enctype="multipart/form-data" method="POST" action="/deposit">
    <div class="form-group">
      <label for="filename">filename:</label>
      <input type="text" class="form-control" id="filename" placeholder="File Name" name="filename">
    </div>
    <div class="form-group">
      <label for="contents">contents:</label>
      <input type="file" class="form-control" id="contents" name='contents' placeholder="Upload a file">
    </div>

    <button type="submit" class="btn btn-success"  id='upload' style="margin-left: 40%">  Deposit </button>
  </form>
</div>
  
</div>

</body>
</html>
