<!DOCTYPE html>
<html lang="en">
<head>
  <title>StackOver Flow Clone --- -- Email Verification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---- template CSS/Javascript/Jquery ------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <!---- Customize CSS/Javascript/Jquery----------->
   <link rel="stylesheet" type="text/css" href="/css/basic.css" >
</head>
<body>
​
<div class="container">
  <h2>Verifies User Account</h2>
  <form id="verify">
  	<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
    </div>
    <div class="form-group">
      <label for="key">Key:</label>
      <input type="text" class="form-control" id="key" placeholder="Enter your key" name="key" required>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 40%">Verify Your Account</button>
  </form>
</div>


​<script type="text/javascript">
   $("#verify").submit(function(event){
        event.preventDefault();
      // Ajax Post Call
      $.ajax({
        type: 'POST',
        url: '/verify',
        dataType: 'json',
        data: JSON.stringify({
           email: $("#email").val(),
           key: $("#key").val()
        }),
        contentType: 'application/json',
        success: function (res) {
          console.log("/verify-->post: response: %s\n ", res);
          if(res.status == 'OK'){
           console.log( "Succeed to verify your accounts" ); //displays msg in 3 seconds
              window.location.href = 'http://64.190.205.52/login';
              // window.location.href = 'http://localhost:3000/login';
          }else if(res.status == 'error'){
                 console.log("/verify-->post error msg: %s\n", res.error)
          }
        },
        error: function (res) {
            console.log('Ajax call failed in /verify-->post %s\n', res);
        }
      });
   });
   
</script>
</body>
</html>
​
